body {
  color: white;
  text-align: justify;
  background-color: #000123;
}

pre.sourceCode {
  background-color: #000123;
  border: 1px solid #ccc;
  padding: 10px;
}

div.sourceCode {
    background-color: #000123 !important;
}

code span.kw {
    color: #0000FF !important; /* Blue color for keyword */
}

code span.str {
    color: #008000 !important; /* Green color for string */
}
